/* DATOS A TENER EN CUENTA
576
768
992
1200
1 rem = 16px
*/

body {
    background: #ebebeb;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; 
    width: 100%;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}







    
