.main {
    padding: 1rem 1.5rem;
    width: 50vw;
    margin: auto ;
    color: #666;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.control {
    display: block;
    width: 100%;
    color: #ebebeb;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin: 1rem 0;
}

button.control {
    background: #03264C ;
}