header {
    position: fixed;
    top:0;
}

main {
    margin-top: 230px;
}

.create-form {
    padding: 1.5rem 1rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control label{
    margin-bottom: 0.3125rem;
    font-style: italic;
    display: block; /*para que quede arriba de cada input*/
}

.control {
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.form-button {
    background: #EAC926;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 0.2rem;
    border-radius: 0.4rem;
}

@media screen and (min-width: 768px) {
    main {
        margin-top: 180px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 220px;
    }
}