#main {
    width: 80vw;
    margin: auto ;
    color: #666;
    display: flex;
    margin-top: 1rem;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.form-control input[type="text"], .form-control input[type="email"], 
.form-control input[type="date"], .form-control input[type="password"], 
.form-control input[type="file"], .form-control button{
    width: 80vw;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.8rem 0;
    width: 80vw;
}

.radio-check {
    display: block;
}

input[type="radio"]{
    margin: 1rem;
}

input[type="checkbox"]{
    margin: 1rem;
}

label.checkbox {
    width: 80vw;
    display: block;
}

label.fotoUsuario {
    background-color: #666;
    color: #ebebeb;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 400;
    margin: 1rem 0;
  }

.form-control button {
    background: #03264C;
    color: white;
    text-transform: uppercase;
}

.form-control button {
    transition: all 400ms ease-in-out;
}

.form-control button:hover {
    background-color: #0022AA;
}
