<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-formulario.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <section id="main-header">
            <figure>
                <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre">
            </figure>
            <form action="/" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y mas..." name="keyword" id="keyword">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <section>
                <p>
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </section>
        </section>
        <nav>
            <ul id="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul id="right-navbar">
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <nav id="burger-menu">
            <a href="#">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </header>
    <main class="main">
        <form action="/crear-producto" method="POST" class="create-form">
            <section class="form-control">
                <label>Nombre del producto:</label>
                <input type="text" name="nombreProducto" class="control">
            </section>
            <section class="form-control">
                <label>Precio:</label>
                <input type="number" name="precio" placeholder="123.56" class="control">
            </section>
            <section class="form-control">
                <label>Categoría:</label>
                <select name="categoria" class="control">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </section>
            <section class="form-control">
                <label>Ciudad:</label>
                <select name="ciudad" class="control">
                    <option value="baires">Buenos Aires</option>
                    <option value="ros">Rosario</option>
                    <option value="mdz">Mendoza</option>
                </select>
            </section>
            <section class="form-control">
                <label>Descripción del producto:</label>
                <textarea name="descripcion" class="control"></textarea>
            </section>
            <section class="form-control">
                <label>Esta en oferta:</label>
                <input type="radio" name="oferta">
            </section>
            <button type="submit" name="submit" class="form-button">Guardar</button>
            <button type="reset" name="reset" class="form-button">Borrar</button>
        </form>
    </main>
    <footer>
        <section id="footer-first-section">
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <section id="footer-second-section">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>